* {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", sans-serif;
  font-style: normal;  
  font-size: 14px;
  font-weight: 400;
	line-height: 1.4;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  margin-top: 100px;
  padding: 10px;
  border: 1px solid gray;
}

.pinned-tasks {
  margin-top: 20px; 
}

.all-tasks {
  margin-top: 20px;
}

.filter-text {
  width: 230px;
  margin-top: 10px;
  padding: 7px;
}

.filter-error {
  display: none;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
  color: red;
}

.no-tasks {
  display: none;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.show {
  display: block;
}

.tasks {
  margin-top: 10px;
  list-style: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  padding: 7px;
  border: 1px solid gray;
  border-radius: 10px;
}

.task-name {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.check-box {
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  border: 1px solid gray;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}